<header class="d-flex flex-wrap justify-content-center py-3 mb-1 border-bottom">
    <a href="/" class="d-flex align-items-center mb-1 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
     
      <span class="fs-4 text-info">R O B I O T I C S</span>
    </a>

  </header>

<header class="p-3 mb-1 border-bottom">
  <div class="container-fluid">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-1 mb-lg-0 link-body-emphasis text-decoration-none">
        
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-1 justify-content-center mb-md-0">
        <li><a idq="navlevel3" href="./pacientes"   class="nav-link px-2 link-body-emphasis color1" >Pacientes</a></li>
        <li><a idq="navlevel3" href="./medicos"   class="nav-link px-2 link-body-emphasis color1" >Médicos</a></li>
        <li><a idq="navlevel3" href="./organos"   class="nav-link px-2 link-body-emphasis color1" >Órganos</a></li>
        <li><a idq="navlevel3" href="./intervenciones"   class="nav-link px-2 link-body-emphasis color1" >Intervenciones</a></li>
    </ul>

    <div class="dropdown text-end color1">
        <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle color1" data-bs-toggle="dropdown" aria-expanded="false">
          Persona
        </a>         
        <ul class="dropdown-menu text-small">
          <li><a class="dropdown-item" href="#">Cambio contraseña</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" onclick=""><i class="" onclick=""></i> Cerrar sesión</a></li>
        </ul>
    </div>
  </div>
</div>
</header>  